body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; background-color:#18214b !important}
a { color: #00B7FF; }
.big_whale { font-weight: 600; }
.centered { text-align: center; }
.border_results { border: 1px solid black; overflow: scroll; min-height: 350px; max-height: 500px; }
.top_space_between { margin-top: 25px; }
.bottom_space_between { margin-bottom: 25px; }
ul { font-size: 14px; color: white; }
.boxes { background-color: #666c88; border-radius: 25px; box-shadow: 0 5px 20px 0 rgba(163, 163, 163, 0.4); padding: 25px; }
#biggest_transaction_value { color: white; font-weight: 600; }

